aiofiles==24.1.0
aiogram==3.20.0.post0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.3.0
audio_extract==0.7.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
environs==14.1.1
ffmpeg-python==0.2.0
frozenlist==1.6.0
future==1.0.0
huggingface-hub==0.31.4
idna==3.10
imageio-ffmpeg==0.4.8
magic-filter==1.0.12
marshmallow==4.0.0
multidict==6.4.4
mutagen==1.46.0
packaging==25.0
propcache==0.3.1
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
python-dotenv==1.1.0
PyYAML==6.0.2
RapidFuzz==3.13.0
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
soundfile==0.13.1
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.52.1
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
yarl==1.20.0
# Run this command manually to install with CUDA 11.8:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
